<div class='d-flex flex-column justify-content-center align-items-center h-100'>
    <h1 class='splash-logo'>Money Minder</h1>
    <div class='d-flex flex-column align-items-center fixed-bottom mb-5'>
        <%= link_to 'LOG IN', root_path, class: 'btn btn-primary p-2 m-2 w-75'%>
        <%= link_to 'SIGN UP', root_path, class: 'p-2'%>
    </div>
</div>