
<%= stylesheet_link_tag 'payments' %>

<% total_amount =  @payments.inject(0) { |sum, payment| sum + payment.amount.to_i } %>
<div class='total-box d-flex justify-content-between align-items-center pt-3 px-3'>
    <p style='font-weight: bold; font-size: 1.1rem;'>Total Paid in this category:</p>
    <p class='text-success'><%= number_to_currency(total_amount) %></p> 
</div>
<div style='padding-bottom: 6rem;'>
    <%= render partial: 'partials/payment', collection: @payments %>
    <div class='fixed-btn bg-success d-flex justify-content-center align-items-center'>
        <%= button_to "Add new Transaction", new_category_payment_path, method: :get, class: 'add-transaction btn btn-success w-100'%>
    </div>
</div>