/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Figtree', sans-serif;
}

main {
    height: 100vh;
    margin: 0;
    padding-top: 3.4rem;
    background-color: #e6e8ee !important;
}

.alert {
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 7rem;
    width: 22rem;
    top: 5rem;
    left: 1rem;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.alert-notice {
    background-color: #5fb523;
}

.alert-alert {
    background-color: rgb(223, 87, 87);
}


.amodal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }